.fondomovil{
    background-image: url("img/Foto3.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 450px;
}

.footer{
    background: rgb(134, 134, 134);
}

.icono{
    font-size: 30px;
    color: white;
}

.aicon{
    padding: 0px;
}