.fondomovil{
    background-image: url("img/Foto3.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 450px;
}
.background{
    background-image: url(img/wllpp1.jpg);
    background-attachment: fixed;
    background-position: center;
}
.footer{
    background: rgba(134, 134, 134, 0.253);
    color: white;
    background-attachment: fixed;
    background-position: center;
}
.footer img{
    border-radius: 50px 50px;
    background-attachment: fixed;
    background-position: center;
}

.icono{
    font-size: 30px;
    color: white;
}

.aicon{
    padding: 0px;
}